// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Variables
$open-sans: 'Open Sans', sans-serif;
$white-color: #ffffff;
$grey-color: #4a4a4a;
$lightgrey-color: #dedede;
$blue-color: #1cbeec;
$background-color: #fafafa;
$rs: 15px;

/*
 * DEFAULT
 */
body {
  font-family: $open-sans;
  font-weight: 400;
  background-color: $background-color;
}
h1 {
  font-size: 72px;
  font-weight: 700;
}
h2 {
  font-size: 42px;
  font-weight: 400;
}
h3 {
  font-size: 24px;
  font-weight: 400;
  margin: $rs * 2 0;
}
h4 {
  font-size: 20px;
  font-weight: 400;
}
p {
  font-size: 16px;
  line-height: 26px;
  margin: $rs * 2 0;
}
a {
  color: $blue-color;
}
/*
 * HEADER
 */
header {
  position: relative;
  background-image:url("../images/bg-nyc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  color: $white-color;
  .info-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .logo {
    margin-top: $rs * 2.5;
    max-height: $rs * 2;
  }
  p {
    font-size: 18px;
    line-height: 26px;
    margin-top: $rs;
    color: $white-color;
  }
}

/*
 * NAVIGATION
 */
// nav {
//   height: 42px;
//   border-bottom: 2px solid $lightgrey-color;
// }

.breadcrumb {
  padding: 10px 0;
  background-color: $background-color;
  border-radius: 0;
  .active a {
    border-bottom: 2px solid $blue-color;
    padding-bottom: 8px;
  }
  li {
    font-size: 14px;
  }
  li + li:before {
    content: "\276F\00a0";
    color: $grey-color;
    padding: 0 $rs;
  }
  a {
    color: $grey-color;
    &:hover {
      text-decoration: none;
      color: $blue-color;
    }
  }
}

/*
 * CATEGORIES (not perfect implementation of this, flexbox is better but no IE9 support)
 */
// Custom column classes (2.4 * 5 = 12) easier if bootstrap sass or less mixins was used
.col-xs-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-2-4 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-2-4 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-2-4 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-2-4 {
    width: 20%;
    float: left;
  }
}

.categories {
  padding-bottom: $rs * 10;
  border-bottom: 2px solid $lightgrey-color;
  margin-top: $rs * 5;
  h1 {
    font-size: 26px;
    font-weight: 400;
    color: $grey-color;
    text-align: center;
    margin-bottom: $rs * 3;
  }
  .category {
    display: block;
    height: $rs * 10;
    width: $rs * 10;
    padding: 3px;
    margin: 20px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.20);
    a {
      padding: $rs * 3 0;
      display: block;
      img {
        max-height: $rs * 3;
        display: block;
        margin: auto;
      }
    }
    button {
      display: block;
      color: $white-color;
      background-color: $blue-color;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      width: 120px;
      margin: 0 auto $rs auto;

    }
  }
}

/*
 * MAIN CONTENT
 */
main {
  color: $grey-color;
}
section {
  border-bottom: 2px solid $lightgrey-color;
  padding: $rs * 10 0;
  .section-title {
    margin-bottom: $rs * 5;
    img {
      display: block;
      margin: 0 auto;
      max-height: $rs * 2.5;
    }
    h2 {
      text-align: center;
      &:after {
        content: " ";
        background-color: $blue-color;
        display: block;
        height: 3px;
        margin: $rs * 2 auto;
        width: $rs * 2;
      }
    }
  }
}
.guide {
  margin-top: $rs * 5;
}
.watermark {
    position: absolute;
    opacity: 0.04;
    font-size: $rs * 10;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.app-name {
  margin-top: $rs / 2;
}
.carousel-control {
  width: 0;
  color: $grey-color;
  .glyphicon {
    font-size: 20px;
    &:hover {
      color: $blue-color;
      text-decoration: none;
    }
  }
}
.carousel-inner {
  width: 90%;
  margin: auto;
  background-color: $white-color;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}
.image-info {
  p {
    font-size: 14px;
    margin: $rs $rs 0 $rs;
    &:last-child {
      color: $lightgrey-color;
      margin: 0 $rs $rs $rs;
    }
  }
}
.image-card {
  background-color: $white-color;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  padding: 0;
  margin: 0 $rs * 2 $rs * 2 $rs * 2;
}

/*
 * FOOTER
 */
footer {
  margin: $rs * 5 0;
}
